{% extends 'base.html' %}

{% block content %}

<p><a href="/books/new">Add New Book</a></p>


<article>
  <!-- <div id="book-container">
{% for book in books %}
<p>
  <a href="/books/{{book.id}}">{{book.title}}</a> - {{book.author}} <a href="/books/{{book.id}}/edit">Edit</a><br> Genre: {{book.genre}} <br> 
  Quantity: {{book.quantity}} <br>Buy Price: {{book.buy_price}} <br>Sell Price: {{book.sell_price}} <br>
  Markup: {{ book.calculate_markup() }} <br>
  Publisher: {{book.publisher.name}} <br> ISBN: {{book.isbn}} <br> Format: {{book.book_format}} <br>
  {{book.id}} <br>
  
  {% if book.stock_status() == 'out_of_stock' %}
  Out of Stock!
  {% elif book.stock_status() == 'stock_high' %}
  Stock Fine
  {% else %}
  Stock Low!
  {% endif %}
</p>

{% endfor %}
</div> -->
<div id="books-table">
  <table>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Quantity</th>
      <th>Buy Price</th>
      <th>Sell Price</th>
      <th>Markup</th>
      <th>Publisher</th>
      <th>ISBN</th>
      <th>Format</th>
      <th></th>
    </tr>
    {% for book in books %}
    <tr>
      <td><a href="/books/{{book.id}}">{{book.title}}</a></td>
      <td>{{book.author}}</td>
      <td>{{book.genre}}</td>
      <td>{{book.quantity}}</td>
      <td>{{book.buy_price}}</td>
      <td>{{book.sell_price}}</td>
      <td>{{book.calculate_markup()}}</td>
      <td>{{book.publisher.name}}</td>
      <td>{{book.isbn}}</td>
      <td>{{book.book_format}}</td>
      <td><a href="/books/{{book.id}}/edit">Edit</a></td>
    </tr>
    {% endfor %}
  </table>

</article>
{% endblock content %}