<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookshop Inventory System</title>
</head>
<body>

    <div class="main-container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/orders">Orders</a></li>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/publishers">Publishers</a></li>
                </ul>
            </nav>
        </aside>
    
        <main class="content">
            {% block content %}
                
            {% endblock content %}
        </main>
    </div>


</body>
</html>
