{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <p>{{publisher.name}}<br>
    {{publisher.address}} <br>
    {{publisher.phone_number}} <br>
    <a href="/publishers/{{publisher.id}}/edit">Edit</a>
    </div>

  <div class="books-table">
    <table>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Buy Price</th>
        <th>Sell Price</th>
        <th>Markup</th> 
        <th>ISBN</th>
        <th>Format</th>
        <th></th>
      </tr>
      {% for book in books %}
      <tr>
        <td><a href="/books/{{book.id}}">{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td>{{book.genre}}</td>
        <td>{{book.buy_price}}</td>
        <td>{{book.sell_price}}</td>
        <td>{{book.calculate_markup()}}</td>
        <td>{{book.isbn}}</td>
        <td>{{book.book_format}}</td>
        <td><a href="/books/{{book.id}}/edit">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% endblock content %}